@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.team-card p {
  color: black;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background-color: #cde8e5;
}

::-webkit-scrollbar-thumb {
  background: #2e677b;
  border: 5.5px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
}
